body{
  margin: 0%;
}

/*Estilos del scroll*/
#container {
  overflow-x:hidden;     
  width:100%;
  
}

/*Estilos de la imagen*/
#container img{
  width: auto;
  height: 755px;
  min-width:150px;
  min-height:150px;
}

/*Estilos de los botones*/
.btn button{
  margin-top: 20px;
  width: 150px;
  height: 150px;
  height: 25px;
  padding: 0px;
  background-color: green;
}